<ion-header >
  <ion-toolbar class="color">
    <ion-title class="tittle">entrega</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        
        <ion-datetime placeholder="Seleccione Fecha y hora para retiro" monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic" cancelText="Cancelar" doneText="Aceptar" min="2019" display-format="DD/MM/YYYY h:mm a" picker-format="MMM DD YYYY h:mm a"></ion-datetime>
      </ion-item>
      <ion-item>
        
          <ion-datetime placeholder="Seleccione Fecha y hora de Entrega"  monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic" cancelText="Cancelar" doneText="Aceptar" min="2019" display-format="DD/MM/YYYY h:mm a" picker-format="MMM DD YYYY h:mm a"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Total de Dias:</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Total a pagar</ion-label>
        </ion-item>
        <ion-button>
          Pagar
        </ion-button>
</ion-content>
