<ion-header>
  <ion-toolbar>
    <ion-title>entrega</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        
        <ion-datetime placeholder="Seleccione Fecha y hora para retiro" monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre" cancelText="Cancelar" doneText="Aceptar" min="2019" display-format="MM/DD/YYYY h:mm a" picker-format="MMMM DD YYYY h:mm a"></ion-datetime>
      </ion-item>
      <ion-item>
        
          <ion-datetime placeholder="Seleccione Fecha y hora de Entrega" monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre" cancelText="Cancelar" doneText="Aceptar" min="2019" display-format="MM/DD/YYYY h:mm a" picker-format="MMMM DD YYYY h:mm a"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Total de Dias:</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Total a pagar</ion-label>
        </ion-item>
        <ion-button>
          Pagar
        </ion-button>
</ion-content>
