<ion-header >
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button>
            
          </ion-menu-button>
        </ion-buttons>
    <ion-title class="tittle">entrega</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-item>
        
        <ion-datetime placeholder="Seleccione Fecha y hora para retiro" monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic" cancelText="Cancelar" doneText="Aceptar" min="2019" display-format="DD/MM/YYYY h:mm a" picker-format="MMM DD YYYY h:mm a"></ion-datetime>
      </ion-item>
      <ion-item>
        
          <ion-datetime placeholder="Seleccione Fecha y hora de Entrega"  monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic" cancelText="Cancelar" doneText="Aceptar" min="2019" display-format="DD/MM/YYYY h:mm a" picker-format="MMM DD YYYY h:mm a"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Total de Dias:</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Total a pagar</ion-label>
        </ion-item>
        <ion-button>
          Pagar
        </ion-button>
        <ion-menu-toggle>
            <ion-button expand="full">
              Menu
            </ion-button>
          </ion-menu-toggle>
          <ion-item *ngFor="let task of tasks">
            
            <ion-item>{{task.Nombre}}</ion-item>
          </ion-item>

          <ion-input type="text" placeholder="Awesome Input"></ion-input>
          <ion-button type="submit" (click)="onClick()">
            Click me
          </ion-button>
</ion-content>
